body {
  background-image: url("yield_ahead.200px.png");
  background-position: 25px 25px;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

#content {
  position: relative;
  margin: 0 250px;
  min-width: 800px;
  max-width: 1024px;
}

h1, h2 {
  letter-spacing: -1px;
}

.CodeMirror {
  height: auto;
}

#inputWrapper, #outputWrapper {
  width: 45%;
  position: absolute;
  height: auto;
}

#inputWrapper {
  top: 0;
  left: 0;
}

#outputWrapper {
  top: 0;
  right: 0;
}

.CodeMirror-scroll {
  overflow-x: auto;
  overflow-y: hidden;
}

.hint {
  color: #999;
  float: right;
}

.hidden {
  display: none;
}

#sandbox {
  position: relative;
}

#attribution, #copyright {
  position: fixed;
  bottom: 25px;
  background: white;
  max-width: 250px;
}

#attribution {
  left: 25px;
}

#copyright {
  right: 25px;
}
