{
  "presets": [
    [
      "@babel/preset-env",
      {
        "forceAllTransforms": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-do-expressions"
  ]
}
