{
  "presets": [
    ["env", {
      "loose": true,
      "modules": false,
      "targets": {
        "node": "4.2"
      }
    }]
  ],
  "plugins": [
    "transform-flow-strip-types",
    "external-helpers"
  ],
  "env": {
    "watch": {
      "presets": [
        ["env", {
          "loose": true,
          "targets": {
            "node": "current"
          }
        }]
      ]
    },
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
