{
  "extends": "babel",
  "plugins": [
    "prettier"
  ],
  "rules": {
    "curly": ["error", "multi-line"],
    "prettier/prettier": ["error", { "trailingComma": "es5" }]
  },
  "env": {
    "node": true,
    "mocha": true
  }
}
