{
  "extends": "babel",
  "plugins": [
    "prettier"
  ],
  "rules": {
    "curly": ["error", "multi-line"],
    "prettier/prettier": "error",
    "no-case-declarations": "error"
  },
  "env": {
    "node": true
  },
  "overrides": [
    {
      "files": [
        "packages/*/src/**/*.js",
        "codemods/*/src/**/*.js"
      ],
      "rules": {
        "no-undef": "error"
      }
    },
    {
      "files": [
        "packages/*/test/**/*.js",
        "codemods/*/test/**/*.js",
        "test/**/*.js"
      ],
      "env": {
        "mocha": true
      }
    }
  ]
}
