/lib
/build
/.git
package.json
packages/babel-runtime
!packages/babel-plugin-transform-runtime/scripts
packages/babel-runtime-corejs2
packages/babel-runtime-corejs3
packages/*/node_modules
packages/*/lib
packages/*/dist
packages/*/test/fixtures
packages/*/test/tmp
codemods/*/node_modules
codemods/*/lib
codemods/*/dist
codemods/*/test/fixtures
codemods/*/test/tmp
packages/babel-compat-data/build
packages/babel-preset-env/data/[^(plugin-features|shipped-proposals).js]
packages/babel-preset-env/test/debug-fixtures
packages/babel-standalone/babel.js
packages/babel-standalone/babel.min.js
packages/babel-parser/test/expressions
packages/babel-core/src/vendor

eslint/*/lib
eslint/*/node_modules
eslint/*/test/fixtures

test/runtime-integration/*/output.js
test/runtime-integration/*/output-absolute.js

Makefile.js
