.DS_Store
node_modules
test/tmp
*.log
*.cache
/templates.json
/tests.json
/browser.js
/browser-polyfill.js
/runtime.js
/coverage
dist
/.package.json
/packages/babel-runtime/core-js
/packages/babel-runtime/helpers/*.js
/packages/*/lib
_babel.github.io
/tests/.browser-build.js
