{
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "tabWidth": 2,
  "printWidth": 80,
  "overrides": [
    {
      "files": [
        "**/{codemods,eslint,packages}/*/{src,test}/**/*.{js,cjs,mjs,ts,cts,mts}"
      ],
      "options": {
        "trailingComma": "all"
      }
    },
    {
      "files": ["**/{codemods,eslint,packages}/*/test/fixtures/**/*.{js,ts}"],
      "options": {
        "trailingComma": "es5"
      }
    }
  ]
}
