package.json
packages/babel-preset-env/data
packages/babel-compat-data/data
packages/babel-compat-data/scripts/data/overlapping-plugins.js
packages/babel-core/src/vendor/**
**/test/fixtures/**
packages/babel-standalone/examples/**
packages/babel-parser/test/expressions/**

CHANGELOG.md
.github/*.md
.yarn/releases/*

Makefile.js
