{
  "extends": [
    "babel",
    "plugin:flowtype/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "arrow-parens": "off",
    "indent": "off",
    "comma-dangle": ["error", "always-multiline"],
    "curly": ["error", "multi-line"],
    "func-call-spacing": "error",
    "key-spacing": "error",
    "no-multi-spaces": "error",
    "flowtype/generic-spacing": "off"
  }
}
