name: REPL

on: [pull_request_target]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  repl-comment:
    name: Create or update REPL comment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.BOT_TOKEN }}
          script: |
            const { default: repl } = await import('${{ github.workspace }}/scripts/actions/repl.js');
            await repl(github, context);
